table, tr, td{
	border-collapse:collapse;
}
td, th{ 
	border: solid 1px black;
	padding: 2px 5px;
}
tr{
	background: #ababab;
}
tr.fullResponse{
	background: #cacaca;
}

td{
	min-width:50px;
}

.passed{
	background:#228822;
}
.failed{
	background:#aa5555;
}

table.innerTable{
	width:100%;
}	

table.innerTable td{
	width:250px;
}
