body 
{
	font-family: Calibri;
}

p 
{
	font-family: "Segoe UI", Calibri, Sans Serif;
}

div.object
{
	width:	64px;
	height:	100px;
	text-align: center;
	border: 1px solid #AAAAAA;
	font-size: xx-small;
	margin: 2px;
	float: left;
	overflow: hidden;
	padding: 0px;
}

div.object img
{
	font-size: x-small;
	margin: 0px;
	padding: 0px;
}

img.albumArt
{
	width:	62px;
	height:	50px;
}
