/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Layout **/
#playlistContainer 
{
	position: fixed;
	top: 0px;
	bottom: 8ex;
	right: 0px;

	width: 20em;
	height: auto;
	overflow-x: auto;
	overflow-y: scroll;
}
#folderbrowserContainer
{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 8ex;
	width: 10em;
	
	overflow-y: scroll;
	overflow-x: auto;
}
#trackbrowserContainer
{
	position: fixed;
	top: 0px;
	bottom: 8ex;		/* #playlist.height+#player.height*/
	right: 20em;
	left: 10em;
}
#playerContainer
{
	position: fixed;
	bottom: 0ex;
	height: 8ex;
	left: 0em;
	right: 0em;

}

/** 
	Styles Vital to things working but not colours, borders etc
*/

ol#playlistTracks li
{
	cursor: move;
	height: 2.2ex;		/* same as the ui-state-highlight  height*/
/*
	list-style: decimal;
	list-style-position: inside;
*/
}
ol#playlistTracks .ui-state-highlight { 
	height: 2.2ex; 
	line-height: 2.2ex; 
}

/** helper classes **/
.float-container {
	overflow: auto;
}

