
#folderbrowserContainer
{
	border-right: 1px solid grey;
	z-index: 1;
}

#playerContainer
{
	border-top: 1px solid grey;
	z-index: 1;
}

#playlistContainer
{
	border-left: 1px solid grey;
	z-index: 1;
}

div.containerPadding 
{
	padding: 1ex;
}

html 
{
	font-family: "Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
	font-size: small;
}

#playerContainer 
{
	background-color:#eee;
}

#playlistContainer, #folderbrowserContainer, #trackbrowserContainer
{
	background-color: #fafafa;
}

