
#trackbrowserContainer
{
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

#playerContainer
{
	border-top: 1px solid grey;
}

div.containerPadding 
{
	padding: 1ex;
}

html 
{
	font-family: "Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
	font-size: small;
}

#playerContainer, #playlistTracks
{
	background-color:#eee;
}

#playlistContainer, #folderbrowserContainer, #trackbrowserContainer
{
	background-color: #fafafa;
}

#playlistTracks
{
	min-height: 2.2ex;
	border: 1px solid grey;
}