/**ARGS_DEFINITION

$Directory_columnWidth = 200px;
$playerHeight = 53px;
$Playlist_columnWidth = 250px;
$playWindowHeight = 270px;
$topbarHeight = 18px;
*/

/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* A colouring and styles*/
a, a:link, a:visited
{
	color: inherit;
	text-decoration: none;
}
/** Layout **/
#playlistContainer 
{
	position: fixed;
	top: $topbarHeight;
	bottom: $playerHeight;
	right: 0px;

	width: $Playlist_columnWidth;
	height: auto;
	overflow-x: auto;
	overflow-y: scroll;
}

#folderbrowserContainer
{
	position: fixed;
	top: $topbarHeight;
	left: 0px;
	bottom: $playerHeight;
	width: $Directory_columnWidth;
	
	overflow-y: scroll;
	overflow-x: auto;
}

#centreContainer
{
	position: fixed;
	top: $topbarHeight;
	bottom: $playerHeight;
	right: $Playlist_columnWidth;
	left: $Directory_columnWidth;
	min-width: 30em;
	overflow-y: auto;
	padding-bottom: $playWindowHeight;
}

#playerControlsContainer
{
	position: fixed;
	bottom: 0ex;
	height: $playerHeight;
	left: 0em;
	right: 0em;
}

#centerTrackContainer
{
	overflow-y: scroll;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: $playWindowHeight;
}

#centerPlayerContainer
{
	position: fixed;
	bottom: $playerHeight;
	left: $Directory_columnWidth;
	right: $Playlist_columnWidth;
	height: $playWindowHeight;
}

#topBarContainer
{
	top: 0px;
	right: 0px;
	left: 0px;

	height: $topbarHeight;
	line-height: $topbarHeight;

	position: fixed;
	z-index: 2;
}
                                            

#jquery_jplayer_1
{
	margin-left: auto;
	margin-right: auto;
}

/** 
	Styles Vital to things working but not colours, borders etc
*/

ol#playlistTracks li
{
	cursor: move;
	min-height: 2.2ex;		/* same as the ui-state-highlight  height*/
/*
	list-style: decimal;
	list-style-position: inside;
*/

}

ol#playlistTracks .ui-state-highlight { 
	height: 2.2ex; 
	line-height: 2.2ex; 
}

#folderlist ul.subdir li
{
	padding-left: 1ex;
}

/** helper classes **/
.float-container {
	overflow: auto;
}


//hide the login form by default
#loginFormContainer
{
	display: none;
}

p label 
{
	display: inline-block;
	width: 6em;
	
}

//labels for the config dialog
#configDialog p label
{
	width: 10em;
}

/*
#jPlayerInspector
{
	position: fixed;
	top: 0px;
	right: 20em;
	top: 0px;
	width: 100ex;
	height: 50ex;
	overflow-y: scroll;
	background: white;
	border: 1px solid red;
}*/

#searchContainer
{
	display: none;
}
