
#centreContainer
{
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

#playerContainer
{
	border-top: 1px solid grey;
}

div.containerPadding 
{
	padding: 1ex;
}

html 
{
	font-family: "Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
	font-size: small;
}

#playerContainer
{
	background-color:#eee;
}

#playlistContainer, #folderbrowserContainer, #centreContainer
{
	background-color: #fafafa;
}

#playlistTracks, #folderbrowserContainer
{
	background: -o-linear-gradient(rgba(238,238,238,1),rgba(250,250,250,1));
}

#centreContainer 
{
	background: -o-linear-gradient(rgba(250,250,250,1),rgba(238,238,238,1));
}

#playlistTracks
{
	min-height: 2.2ex;
	border: 0px solid grey;
	padding: 1ex;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#playlistTracks li 
{
	margin-bottom: 0.5ex;
}

#folderlist li, #tracklist li
{
	padding-top: 0.25ex;
	padding-bottom: 0.25ex;
}

#folderlist li:nth-of-type(even),
#playlistTracks li:nth-of-type(even),
#tracklist li:nth-of-type(even)
{
	background: #eee;
}

#folderlist li a,
#folderlist li a:link,
#folderlist li a:visited
{
	text-decoration: none;
	color: inherit;
}

.jPlaying {
	font-weight: bold;
}
