
#centreContainer
{
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

#playerControlsContainer
{
	border-top: 1px solid grey;
}

div.containerPadding 
{
	padding: 1ex;
}

html, #loginForm 
{
	font-family: "Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
	font-size: small;
}

#playerControlsContainer
{
	background-color:#eee;
}

#playlistContainer, #folderbrowserContainer, #centreContainer
{
	background-color: #fafafa;
}

#playlistTracks, #folderbrowserContainer
{
	background: -o-linear-gradient(rgba(238,238,238,1),rgba(250,250,250,1));
}

#centreContainer 
{
	background: -o-linear-gradient(rgba(250,250,250,1),rgba(238,238,238,1));
}

#playlistTracks
{
	min-height: 2.2ex;
	border: 0px solid grey;
	//padding	: 1ex;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#playlistTracks li 
{
	padding-top: 0.3ex;
	padding-left: 0.5ex;
	padding-bottom: 0.3ex;
}

#playlistTracks li a
{
	text-decoration: none;
	color: inherit;
}

#folderlist li, #tracklist li
{
	padding-top: 0.25ex;
	padding-bottom: 0.25ex;
}

#folderlist li:nth-of-type(even),
#playlistTracks li:nth-of-type(even),
#tracklist li:nth-of-type(even)
{
//	background: #ddd;
	background: -o-linear-gradient(#d4d4d4,#ddd);
}

#folderlist li:nth-of-type(odd),
#playlistTracks li:nth-of-type(odd),
#tracklist li:nth-of-type(odd)
{
//	background: #fff;
	background: -o-linear-gradient(#f4f4f4,#ffffff);
}

//For Subdirectories:
#folderlist ul.subdir li:nth-of-type(odd)
{
	background: -o-linear-gradient(rgba(10,10,10,0.1),rgba(0,0,0,0.1));
}

#folderlist ul.subdir li:nth-of-type(even)
{
	background: -o-linear-gradient(rgba(255,255,255,0.1),rgba(245,245,245,0.1));
}

//Currently selected folder
#folderlist .currentlySelected
{
	font-weight: bold;
}
#folderlist .currentlySelected ul
{
	font-weight: normal;	//override font-weight bubbling from above
	
}

#folderlist li a,
#folderlist li a:link,
#folderlist li a:visited
{
	text-decoration: none;
	color: inherit;
}

.jPlaying {
	font-weight: bold;
}

#jquery_jplayer_1, #centerPlayerContainer {
//	border: 1px solid grey;
	background: black;
}

//unplayable tracks
.unplayable
{
	color: grey;
	font-style: italic;
}

.draggingTrack
{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/dragIcon.png');
//	border: 1px solid red;	
}

.ui-widget-overlay
{
	opacity: 0.7;
	background-image: none;
	background-color: black;
}
.ui-widget
{
	font-size: inherit;
	font: inherit;
}

//
select#mediaSourceSelector
{
	display: block;
	width: 100%;
	border: 0px;
	background: none;
	padding: 0ex 1ex;
}

#folderlist>li
{
	padding-left: 1ex;
}
// for ellipsis wrapping
#folderlist, #folderlist *
{
	overflow-x: hidden;
}

#folderlist *
{
	text-overflow: ellipsis;
	white-space: nowrap;
}

#tracklistHeader
{
	font-weight: bold;
	font-size: larger;
	border-bottom: 1px solid grey;
}

//Bar to contain all the buttons!
#controlButtonBar
{
	position: absolute;
	right: 8px;
	bottom: 10px;
}

//Config Styles
#configButton
{
	width: 32px; 
	height: 32px;
	background: url('../img/cog.png');
	cursor: pointer;
}

#searchButton
{
	width: 32px; 
	height: 32px;
	background: url('../img/find.png');
	cursor: pointer;
}

#configDialog fieldset
{
	border: 1px solid grey;
	background: -o-linear-gradient(rgba(250,250,250,1),rgba(238,238,238,1));
	padding: 1ex 1ex;
	margin: 0ex 0ex 1ex 0ex;
}

#configDialog fieldset legend
{
	margin-left: 2ex;
	padding: 0ex 1ex;
}

#searchContainer
{
	padding: 1ex;
	background: -o-linear-gradient(rgba(250,250,250,1),rgba(238,238,238,1));
	border-bottom: 1px solid grey;
}
#search_query
{
	width: 40em;
	display: inline-block;
}

#searchContainer input, 
#searchContainer select, 
#searchContainer button, 
#searchContainer span.selectWrapper
{
	border: 1px solid grey;
	border-radius: 5px;
	background: -o-linear-gradient(#f4f4f4,#ffffff);
}
#searchContainer input, #searchContainer button
{
	padding: 5px;
}
span.selectWrapper
{
	padding: 4px;
}
#searchContainer span.selectWrapper select
{
	padding: 0px;
	border-radius: 0px;
	background: rgba(255,255,255,0);
	border: 0px;
}