/**
$PanelColour1 = rgba(7,7,7,1);
$PanelColour2 = rgba(25,25,25,1);
$BasePanelColour = #fafafa;

$ButtonColour1 = rgba(30,30,30,1);
$ButtonColour2 = rgba(17,17,17,1);

$ButtonFontColour = white;

$FontColour = #eee;
$HeaderFontColour = white;

$PlayingTrackColour = #d00004;
$CurrentlySelectedColour = #d00004;
$CurrentFolderTitleColour = #d00004;

$InlineButtonColour = #d00004 !important;
$InlineButtonBGColour = #eee;
$InlineButtonOperaBGColour = -o-linear-gradient(#efefef, #9f9f9f);
$InlineButtonBorderColour = #606060;
$InlineButtonTextShadowHighlight = #666 1px -1px 1px;

$liEvenColour1 	= rgba(5,5,5,0.4);
$liEvenColour2 	= rgba(21,21,21,0.4);
$liOddColour1 	= rgba(51,51,51,0.9);
$liOddColour2 	= rgba(34,34,34,0.9);

$liSubSirEvenColour1 = rgba(255,255,255,0.2); 
$liSubSirEvenColour2 = rgba(245,245,245,0.2);
$liSubSirOddColour1 = rgba(30,30,30,0.2);
$liSubSirOddColour2 = rgba(15,15,15,0.2);

$topBarColour1 = rgba(40,40,40,1);
$topBarColour2 = rgba(30,30,30,1);
$playerControlsColour1 = rgba(0,0,0,1);
$playerControlsColour2 = rgba(40,40,40,1);

$textShadowHighlight = #111 1px -1px 1px;

$bodyBackground = url("jQuery-ui/custom-theme/images/ui-bg_diagonals-small_25_000000_40x40.png");
$containerBorder = 1px solid black;

$boxShadowStyle = 0px 0px 4px rgba(255,255,255,0.5);

$trimBorderColour = 1px solid grey;

$usedBarColour = #D00004;
$remainingBarColour = #404040;

$contextMenuBorder = 1px solid #aaa;
$contextMenuBackground = black;
$contextMenuHighlight = #333;

$playlistDropZoneActiveOutline = 1px solid rgba(208,0,4,0.5);
$playlistDropZoneActiveBackground = rgba(208,0,4,0.05);
$playlistDropZoneHoverOutline = 1px solid rgba(208,0,4,0.8);
$playlistDropZoneHoverBackground = rgba(208,0,4,0.1);

*/

body {
	background: $bodyBackground;
}

#centreContainer
{

}

#playerControlsContainer
{
	background: $playerControlsColour1;
	background: -o-linear-gradient($playerControlsColour1,$playerControlsColour2);
	background: -webkit-linear-gradient($playerControlsColour1,$playerControlsColour2);	
	background: -moz-linear-gradient($playerControlsColour1,$playerControlsColour2);	
	background: linear-gradient($playerControlsColour1,$playerControlsColour2);	
}

div.containerPadding 
{
	padding: 1ex;
}

html, #loginForm 
{
	font-family: "Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
	font-size: small;
	color: $FontColour;
}

#playerControlsContainer, #topBarContainer
{
	color: $FontColour;
	text-shadow: grey 1px -1px 1px;
}

#playlistContainer, #folderbrowserContainer, #centreContainer
{
	background-color: $BasePanelColour;
}

#folderbrowserContainer, #playlistContainer 
{
	border-bottom: 3px solid black;
}

#playlistContainer
{
	border-left: $containerBorder;
	box-sizing: border-box;
}

#folderbrowserContainer
{
	border-right: $containerBorder;
	box-sizing: border-box;
}

#playlistContainer, #folderbrowserContainer
{
	background: none;
}

.playlistDropZoneActive 
{
	overflow-x: hidden;
	outline: $playlistDropZoneActiveOutline;
	background: $playlistDropZoneActiveBackground;
}

.playlistDropZoneHover
{
	overflow-x: hidden;
	outline: $playlistDropZoneHoverOutline;
	background: $playlistDropZoneHoverBackground;
}

#centreContainer 
{
	background: none;
}

#playlistTracks
{
	min-height: 2.2ex;
	border: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow-x: hidden;
}

#topBarContainer, #trackListAddControls
{
	border-bottom: $trimBorderColour;
	border-top: $trimBorderColour;
	background: $PanelColour2;
	background: -o-linear-gradient($PanelColour2,$PanelColour1);
	background: -webkit-linear-gradient($PanelColour2,$PanelColour1);
	background: -moz-linear-gradient($PanelColour2,$PanelColour1);
	background: linear-gradient($PanelColour2,$PanelColour1);
	color: inherit;
	font-size: x-small;
}

#topBarContainer 
{
	border-bottom: 0px;
	padding: 0ex 1ex;
	text-align: right;
	background: $topBarColour1;
	background: -o-linear-gradient($topBarColour1,$topBarColour2);
	background: -webkit-linear-gradient($topBarColour1,$topBarColour2);
	background: -moz-linear-gradient($topBarColour1,$topBarColour2);
	background: linear-gradient($topBarColour1,$topBarColour2);
	color: $HeaderFontColour;
}

#topBarContainer a, #trackListAddControls a
{
	font-weight: bold;
	color: inherit;
}

#trackListAddControls
{
	font-size: x-small;
}

#trackListAddControls a
{
	font-weight: bold;
}

#playlistTracks li 
{
	
	position: relative;
	height: 3.5ex;
	line-height: 3.5ex;
}

#playlistTracks li a
{
	text-decoration: none;
	color: inherit;
}

#folderlist li
{
//	padding-top: 0.5ex;
//	padding-bottom: 0.5ex;
}

#tracklist li 
{
	padding-top: 0.125ex;
	padding-bottom: 0.125ex;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

#tracklist li>* 
{
	line-height: normal;
	vertical-align: middle;
}

#playlistTracks li a
{
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	overflow: visible;
}

#playlistTracks li a.removeFromPlaylist
{
	position: absolute;
	left: 0.25em;
	top: 0.5ex;
}

#playlistTracks li a.trackObject
{
	display: inline;
	text-overflow: ellipsis;
	overflow-x: visible;
	overflow: visible;
	margin-left: 2em;
}

#playlistTracks li:nth-of-type(even)
{
	background: $liEvenColour1;
}

#playlistTracks li:nth-of-type(odd),
#tracklist li:nth-of-type(odd)
{
	background: $liOddColour1;
	background: -o-linear-gradient($liOddColour1,$liOddColour2);
	background: -webkit-linear-gradient($liOddColour1,$liOddColour2);
	background: -moz-linear-gradient($liOddColour1,$liOddColour2);
	background: linear-gradient($liOddColour1,$liOddColour2);
}

#playlistTracks
{
	font-size: smaller;
}

//Currently selected folder
#folderlist .currentlySelected, .dynatree-active
{
	font-weight: bold;
	color: $CurrentlySelectedColour;
	text-shadow: $textShadowHighlight;
}
#folderlist .currentlySelected ul
{
	font-weight: normal;	//override font-weight bubbling from above
	color: $FontColour;
}

#folderlist li a,
#folderlist li a:link,
#folderlist li a:visited
{
	text-decoration: none;
	color: inherit;
}

#trackListHeaderContainer 
{
	background: $bodyBackground;
}

a.jPlaying 
{
	font-weight: bold;
	color: $PlayingTrackColour !important;
	text-shadow: $textShadowHighlight;
}

#jquery_jplayer_1, #centerPlayerContainer 
{
	background: black;
}

//unplayable tracks
.unplayable
{
	color: grey;
	font-style: italic;
}

.draggingTrack
{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/dragIcon.png');
}

.ui-widget-overlay
{
	opacity: 0.7;
	background-image: none;
	background-color: black;
}

.ui-widget
{
	font-size: inherit;
	font: inherit;
}

select#mediaSourceSelector
{
	display: block;
	width: 100%;
	border: 0px;
	background: $ButtonColour1;
	color: inherit;
	padding: 0px;
	font-weight: bold;
}

select#mediaSourceSelector option 
{
	background: $ButtonColour1;
	color: inherit;
}

#folderlist>li
{
	padding-left: 1ex;
}

// for ellipsis wrapping
#folderlist, #folderlist *
{
	overflow-x: hidden;
}

#folderlist *
{
	text-overflow: ellipsis;
	white-space: nowrap;
}

#tracklistHeader
{
	font-weight: bold;
	font-size: larger;
	
	min-height: 20px;
	line-height: 20px;
	padding: 0px 5px;
}

//Bar to contain all the buttons!
#controlButtonBar
{
	position: absolute;
	right: 8px;
	bottom: 10px;
}

#searchButton
{
	width: 32px; 
	height: 32px;
	background: url('../img/find.png');
	cursor: pointer;
}

/**
	Search styles
*/

#search_query
{
	width: 40em;
	display: inline-block;
}

#searchContainer input, 
#searchContainer select,  
#searchContainer span.selectWrapper
{
	border: $trimBorderColour;
	border-radius: 5px;
	background: $ButtonColour1;
	background: -o-linear-gradient($ButtonColour1,$ButtonColour2);
	background: -webkit-linear-gradient($ButtonColour1,$ButtonColour2);
	color: $ButtonFontColour;
}
#searchContainer select option {
	background: $ButtonColour1;
}

#searchContainer input
{
	padding: 5px;
}

span.selectWrapper
{
	padding: 4px;
}

#searchContainer span.selectWrapper select
{
	padding: 0px;
	border-radius: 0px;
	background: rgba(255,255,255,0);
	border: 0px;
}
/**
	Loading Placeholder
*/
img.loading
{
	margin-left: 0em;
}

div.loading 
{
	text-align: center;
	padding: 3ex 5em;
}

/**
	Logged out dialog tweaks
*/	
.loggedout .ui-icon-closethick,
.loggedout .ui-dialog-titlebar-close
{
	display: none;
}

.loggedout
{
	font-weight: bold;
}

/** 
	mini-icons 
**/
.addToPlaylistButton, .downloadButton, .removeFromPlaylist, .playNowButton
{
	display:	inline-block;
	width:		11px;
	height:	11px;
	line-height: 13px;
	
	border:	1px solid $InlineButtonBorderColour;
	color: 	$InlineButtonColour;
	background-color: $InlineButtonBGColour;
	background: $InlineButtonOperaBGColour;
	
	text-shadow: $InlineButtonTextShadowHighlight;
	
	font-size: smaller;
	text-align: center;
	vertical-align: middle;
}

.downloadButton, .playNowButton
{
	margin-left: 0.3ex;
}
.removeFromPlaylist, .downloadButton 
{
	margin-right: 0.3ex;
}


/**
	Trick for "zebra"ing the tables
**/
.dynatree-container 
{
	background-image: url("../img/tree-zebra.png");
	background-repeat: repeat;
}
.dynatree-title 
{	//shift the text down a smidge
	padding-top: 3px;
	font-size: smaller;
	cursor: pointer;
	padding-left: 2px;
}

#tracklistHeader
{
	color: $CurrentFolderTitleColour;
	margin-top: 1ex;
}

.trackName
{
	cursor: move;
}

/** Context Menu Stuff*/
.vmenu
{
	border: $contextMenuBorder;
	position:absolute;
	display:none;
	font-size:0.75em;
}
.vmenu .first_li span
{
	width: 100px;
	display: block;
	padding: 5px 10px;
	cursor: pointer
}
.vmenu .inner_li
{
	display:none;
	margin-left:120px;
	position:absolute;
	border: $contextMenuBorder;
	border-left: $contextMenuBorder;
	margin-top:-2em;
}
.vmenu .sep_li
{
	border-top: $contextMenuBorder;
	margin:5px 0;
}
.vmenu .fill_title
{
	font-size:11px;
	font-weight:bold;
	word-wrap:break-word;
}

.vmenu, .vmenu .inner_li
{
	background: $contextMenuBackground;
}

.vmenu .first_li:hover, .vmenu .inner_li span:hover
{
	background: $contextMenuHighlight;
}

.vmenu .hr
{
	border-bottom: 1px solid #aaa;
}
.vmenu .hr span
{
	padding: 0;
	margin: 0;
}

#bandwidthInformation 
{
	border: 1px solid black;
	box-shadow: $boxShadowStyle; 
	background: $bodyBackground;
	padding: 1ex;
	border-radius: 3px;
}

.totallimit 
{
	text-align: center;
	margin-top: 0px;
	color: $usedBarColour;
	font-weight: bold;
	text-shadow: none;
	border-bottom: $trimBorderColour;
}

.bandwidthBar 
{
	width: 100%;
	height: 1ex;
	margin-bottom: 2ex;
}

.usedBandwidth 
{
	display: inline-block;
	background: $usedBarColour;
	height: 100%;
}

.remainingBandwidth 
{
	display: inline-block;
	background: $remainingBarColour;
	height: 100%;
}