
#centreContainer
{
	border-right: 1px solid grey;
	border-left: 1px solid grey;
}

#playerControlsContainer
{
	border-top: 1px solid grey;
}

div.containerPadding 
{
	padding: 1ex;
}

html, #loginForm 
{
	font-family: "Trebuchet MS", "Liberation Sans", "Tahoma", Sans-Serif;
	font-size: small;
}

#playerControlsContainer
{
	background-color:#eee;
}

#playlistContainer, #folderbrowserContainer, #centreContainer
{
	background-color: #fafafa;
}

#playlistTracks, #folderbrowserContainer
{
	background: -o-linear-gradient(rgba(238,238,238,1),rgba(250,250,250,1));
}

#centreContainer 
{
	background: -o-linear-gradient(rgba(250,250,250,1),rgba(238,238,238,1));
}

#playlistTracks
{
	min-height: 2.2ex;
	border: 0px solid grey;
	padding: 1ex;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#playlistTracks li 
{
	margin-bottom: 0.5ex;
}

#folderlist li, #tracklist li
{
	padding-top: 0.25ex;
	padding-bottom: 0.25ex;
}

#folderlist li:nth-of-type(even),
#playlistTracks li:nth-of-type(even),
#tracklist li:nth-of-type(even)
{
//	background: #ddd;
	background: -o-linear-gradient(#d4d4d4,#ddd);
}

//For Subdirectories:
#folderlist ul.subdir li:nth-of-type(odd)
{
	background: -o-linear-gradient(rgba(10,10,10,0.1),rgba(0,0,0,0.1));
}

#folderlist ul.subdir li:nth-of-type(even)
{
	background: -o-linear-gradient(rgba(255,255,255,0.1),rgba(245,245,245,0.1));
}

//Currently selected folder
#folderlist .currentlySelected
{
	font-weight: bold;
}
#folderlist .currentlySelected ul
{
	font-weight: normal;	//override font-weight bubbling from above
	
}

#folderlist li a,
#folderlist li a:link,
#folderlist li a:visited
{
	text-decoration: none;
	color: inherit;
}

.jPlaying {
	font-weight: bold;
}

#jquery_jplayer_1, #centerPlayerContainer {
//	border: 1px solid grey;
	background: black;
}

//unplayable tracks
.unplayable
{
	color: grey;
	font-style: italic;
}

.draggingTrack
{
	display: block;
	width: 32px;
	height: 32px;
	background-image: url('../img/dragIcon.png');
//	border: 1px solid red;	
}

.ui-widget-overlay
{
	opacity: 0.7;
	background-image: none;
	background-color: black;
}


//
select#mediaSourceSelector
{
	display: block;
	width: 100%;
}

#folderlist>li
{
	padding-left: 1ex;
}
// for ellipsis wrapping
#folderlist, #folderlist *
{
	overflow-x: hidden;
}

#folderlist *
{
	text-overflow: ellipsis;
	white-space: nowrap;
}